{% extends 'base.html' %}
{% load static %}

{% block metatags %}
<title>BookLing : Terms and Condition </title>

{% endblock %}

{% block content %}
<div class="text-center text-primary">
    <hr>
    <h1 style="font-size:60px;" >Terms and Condition</h1>
    <hr>
</div>
<div>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus et hic quasi aliquam 
        neque dolorum, voluptates placeat blanditiis. Et magni temporibus perspiciatis in facilis,
         consequuntur animi expedita minus ea nulla soluta, mollitia minima, rem voluptates repre
         henderit possimus dicta eius voluptatem necessitatibus! Delectus libero non atque dolor d
         oloremque facilis quidem ex, ipsum ipsam est earum, incidunt eaque mollitia id doloribus 
         veniam cumque ut nisi optio. Dolorum iusto laboriosam maiores ex cupiditate veritatis ass
         umenda illo blanditiis dolorem iste. In, modi voluptatum magnam nihil fugiat est molestiae
          fuga maiores odio sed sunt eaque animi architecto tempora praesentium. Tempora odio num
          quam nobis excepturi hic neque odit quae minima consectetur quidem nostrum est facilis
           molestiae quibusdam eaque corporis velit, quam, reprehenderit vero totam ullam inventor
           e obcaecati adipisci. Architecto nostrum officia sequi vel praesentium unde explicabo 
           commodi ullam eaque at possimus ipsam facilis iste dolores est ratione aliquid porro 
           neque similique, minus quidem ad quam vitae assumenda. Enim vel sit voluptatem magnam 
           optio praesentium aut. Deleniti molestias possimus, officia maxime aliquid dicta tempo
           ra, corrupti obcaecati asperiores illum doloremque? Enim, amet maiores beatae autem 
           perferendis odit animi. Provident nesciunt quod ipsam maxime expedita eum ea ducimus, 
           blanditiis facilis incidunt tempore atque beatae rerum veritatis saepe laborum facere 
           aut vitae unde exercitationem laboriosam obcaecati id! Quod a labore suscipit facilis 
           illum nobis dolor, voluptatem adipisci obcaecati atque distinctio architecto eos tempore 
           iusto praesentium. Iste perferendis quia odio molestias optio praesentium voluptas eum. 
           <br><br><br>
           Voluptatibus sapiente quae eos eveniet odio beatae rem, in quis aliquid quidem, 
           assumenda error quisquam? Unde provident odit quis nemo, soluta temporibus dignissimos 
           esse, maiores reprehenderit error voluptates optio. Ratione sint numquam ea molestiae 
           tempore eaque necessitatibus ex. Mollitia ducimus architecto quo doloremque, minus, 
           obcaecati vel quia ratione ad doloribus vero, consequuntur fugit atque praesentium 
           fugiat id. Ipsam, ducimus magni tenetur ipsum placeat aperiam cumque dolor officia 
           mollitia autem est. Nulla, magni optio illum distinctio quaerat nesciunt! Officiis 
           nulla facilis pariatur laboriosam maiores repudiandae laborum quod neque, unde placeat. 
           Illum quis enim omnis natus corrupti dignissimos corporis, et veritatis minus laborum 
           necessitatibus error distinctio facere? Sunt tenetur inventore nostrum doloremque est 
           repellendus fugiat ab dolore perferendis placeat magnam voluptates, modi suscipit 
           voluptatibus fugit error rerum nam molestias repudiandae eaque possimus labore cupiditate.
            Consequatur, totam. Nemo veniam adipisci saepe aliquam accusantium qui libero fuga cum 
            distinctio expedita, autem reiciendis illo? Odit ut vel fugiat! Labore consectetur vitae 
            facere veritatis adipisci asperiores exercitationem minima quasi aut non beatae expedita 
            eius, consequatur eveniet rem enim excepturi sed, ut, voluptate rerum ducimus iste odit 
            ex. Nemo officiis ipsum velit, aut non quod, repudiandae ullam sequi numquam incidunt odio
             nihil corrupti, a expedita molestiae sint. Earum incidunt aperiam, voluptates dicta animi,
              dolor in, placeat suscipit ratione quam mollitia libero quibusdam praesentium sed minima 
              accusantium quasi qui nobis laboriosam laudantium cupiditate distinctio! Sapiente ipsam 
              facere velit illum numquam quod minima asperiores beatae perspiciatis eligendi harum 
              aliquam ratione rerum illo sequi obcaecati nostrum deserunt eaque blanditiis sint ipsa 
              vitae, vel provident animi? Minus, laborum earum qui voluptatibus itaque possimus ullam 
              aperiam hic amet suscipit. Cumque dolor eos illo sapiente! Voluptatem rem dicta autem 
              nemo ad eligendi debitis, cumque repellat perspiciatis quos provident voluptatibus 
              reiciendis ipsa ipsam, sed nihil! Expedita pariatur suscipit saepe ducimus in architecto 
              excepturi laboriosam atque error quasi vel magni corrupti sunt inventore maxime, rem ex 
              rerum totam odio! Expedita explicabo necessitatibus aperiam molestiae veritatis et fugit 
              dignissimos cumque eaque debitis? Quia in corporis perspiciatis sunt voluptatem, voluptas 
              deserunt cumque. Dolorum obcaecati eum, quo alias, optio eius quae officiis ipsum minima 
               quisquam odio nisi, ratione dolores voluptatibus sint deleniti magnam reiciendis tenetur 
               nostrum nobis. Nostrum odit iure quae ab natus numquam porro minima corrupti eaque quo vero, 
               dolore aspernatur magni facilis facere. Earum exercitationem blanditiis perspiciatis 
               doloremque sed veritatis delectus nulla quas voluptatum repudiandae similique porro, 
               tempora natus, dicta eos quaerat. Explicabo, enim commodi tempore tenetur officiis et 
               inventore natus fugit quae numquam asperiores laudantium deleniti, quam suscipit aspernatur 
               illo? Omnis enim obcaecati dolores, culpa numquam quae, odio deserunt eos nulla sunt ab 
               consequuntur quia? Dolor quidem placeat id aliquam itaque beatae perspiciatis saepe 
               voluptatibus, officia quae inventore quisquam molestias numquam natus a cumque ipsam ea 
               quaerat impedit pariatur ullam reprehenderit. Soluta ratione harum quis, a provident sed eum 
               consectetur.
    </p>
</div>
{% endblock %}